.recipe-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 7px solid #634444;
  }

  .recipe-form input {
      padding: 4px 2rem;
      text-align: center;
      box-sizing: border-box;
      border:none;
      margin-bottom: .5rem;
      border-bottom: 1px solid #8F6C6C;
      transition: all .3s;
  }
  
  .recipe-form input:focus {
    box-sizing: border-box;
    border:none;
    border-bottom: 1px solid #634444;
    outline: none;
}

.recipe-form textarea{
    width: 14rem;
    height: 5rem;
    border: 1px solid #8F6C6C;
    outline: none;
}

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem auto;
  }
  
  .buttons {
    color: white;
    background-color: #8F6C6C;
    border-radius: 6px;
    align-self: flex-end;
    padding: .2rem 2rem;
    width: 14rem;
    font-size: 1.1em;
    border: 1px solid transparent;
    transition: all .2s;
    outline: none;
  }

  .buttons:hover {
    color: #8F6C6C;
    background-color: #fff;
    border: 1px solid #8F6C6C;
  }
  
  .close-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 0.9em;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    align-self: flex-end;
  }
  
  .recipe-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }